# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
*.php~
composer.lock

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Mac OS X
.DS_store

composer.phar
composer.lock
