.hide {
    display: none;
}
.checkbox{
    margin-right: 5%;
}
a.btn.action{
    margin: 1% 0;
}

.progress {
    display: none;
}

#movies > div {
    min-height: 760px;
}

.formCustom form{
    padding: 0 2%;
}


/*** Header ***/
header {
    margin-top: 70px;
}

header img {
    max-height: 100px;
}

header nav .nav {
    margin-top: 40px;
    font-size: 20px;
}

header .fb-login-button {
    margin-right: 10px;
    margin-top: 14px;
}

#btn-logout {
    width: 90%;
}



/*** Footer ***/
footer.well {
    margin-bottom: 0px;
}

ul.navbar-right .btn-group {
    margin-right: 6px;
}



/*** Menu filtres ***/
#filter nav div div button {
    margin-top: 8px;
}
#filter ul.menu_level_1.dropdown-menu{
    width: 425px;
}
#filter ul.menu_level_1.dropdown-menu li{
    float: left;
    width: 33.33%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}



/*** Vignettes ***/
/* LISTE */
.list-group li p .thumbnail, .list-group-item p a .thumbnail{
    width: auto;
    max-height: 250px;
    text-align: left;
}
.list-group li p .btn{
    margin-bottom: 5px;
}
/* GRILLE */
.thumbnail img{
    max-height: 565px;
}



/*** DETAIL D'UN FILM ***/
blockquote small{
    margin-bottom: 15px;
}
img.img-rounded.img-responsive{
    margin-bottom: 5%;
}

/* Responsive videoplayer (Youtube) */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 70px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/*** Loader ***/

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spinOff {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}

.rounds {
    height: 35px;
    margin-right: -150px;
    margin-top: 6px;
    display: none;
}

.round1, .round2 {
    background-color: rgba(0,0,0,0);
    border: 2px solid rgba(0,183,229,0.9);
    opacity: .5;
    margin: 0 auto;
}

.round1 {
    border-radius: 35px;
    box-shadow: 0 0 35px #2187e7;
    box-shadow: inset 0 0 15px #2187e7;
    border-right: 2px solid rgba(0,0,0,0);
    width: 35px;
    height: 35px;
    -webkit-animation:spin 1.2s infinite linear;
}

.round2 {
    border-radius: 35px;
    box-shadow: 0 0 35px #2187e7;
    border-left: 2px solid rgba(0,0,0,0);
    width: 35px;
    height: 35px;
    position: relative;
    top: -35px;
    -webkit-animation:spinOff 1s infinite linear;
}