{% extends "SonataUserBundle:Profile:layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Mon profil</h2>
            <div class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse">
                    {{ knp_menu_render('wottFrontBundle:Builder:profileMenu', { 'style': 'navbar' }) }}
                </div>
            </div>
        </div>
    </div>
    
    {% block sonata_profile_content %}
    {% endblock %}
    
    {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

{% endblock %}