{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block title %}Mon profil{% endblock %}

{% block sonata_profile_content %}
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="#" alt="Vignette du film" />
                <div class="caption">
                    <h4 class="text-center">title</h4>
                    <p>Lorem ipsum</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
