{% extends "SonataUserBundle:Profile:layout.html.twig" %}

{% block title %}Mon profil{% endblock %}

{% block main %}
    <div class="row">
    {% for filmuser in films %}
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="{{ filmuser.film.urlPoster|image_url_path }}" alt="Vignette du film" />
                <div class="caption">
                    <h4 class="text-center">{{ filmuser.film.title }}</h4>
                    <p>{{ filmuser.film.synopsis|slice(0, 100) }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
