{% extends 'wottFrontBundle::layout.html.twig' %}
{% block content %}

    <div class="row" id="filter">
        <div class="col-md-12">
            <div class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse">
                    {{ knp_menu_render('wottFrontBundle:Builder:filtersMenu', { 'style': 'navbar' }) }}
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="Rechercher un film">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default navbar-btn display-btn active" data-display="grid">{{ icon('th') }}</button>
                                <button type="button" class="btn btn-default navbar-btn display-btn" data-display="list">{{ icon('th-list') }}</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-md-7">
            <h3>Notifications pour les suggestions</h3>
            <p>Pour recevoir une notification à chaque nouvelle suggestion, cochez les jours où vous souhaitez recevoir une notification.</p>
            <div class="well">
                <form class="form-inline">
                    {{ form_widget(formSuggest) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
