{% extends 'wottFrontBundle::layout.html.twig' %}

{% block content %}
What's on TV tonight !

<a href="" class="action" data-id="1" data-action="Like">Like</a>
<a href="" class="action" data-id="1" data-action="Seen">see</a>
<a href="" class="action" data-id="1" data-action="Wanted">wanted</a>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
$(document).ready(function(){

    $('.action').click(function(){

        idFilm=$(this).data('id');
        action=$(this).data('action')

        $.ajax({

           type: "POST",
           url: {{ path('like') }},
           data: {"idFilm" : idFilm, "action" : action }
         }).done(function (response) {
            console.log(response);
            });

        return false;

    });

})
</script>

{% endblock %}
