{% extends 'wottFrontBundle:Default:home_layout.html.twig' %}

{% block main %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="col-md-12 flash-notice alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% include 'wottFrontBundle:Default:index_grid.html.twig' %}

    <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 100%"></div>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
