{% extends 'wottFrontBundle::layout.html.twig' %}

{% block content %}

<section id="main" class="container-fluid" role="content">
    <div class="row">
        <div class="col-md-5">
            <p> <a href="{{ path('homepage') }}">Home</a> > Titre du film</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="#" alt="Affiche du film A">
            <button class="btn btn-default btn-primary center-block">Ajouter à ma watchlist</button>
            <button class="btn btn-default center-block">Liker le film</button>
            <button class="btn btn-default center-block">J'ai vu ce film</button>
        </div>
        <div class="col-md-8">
            <h2>Titre du film</h2>
            <ul>
                <li>Titre original : </li>
                <li>Film de : </li>
                <li>Nationalité(s) :</li>
                <li>Genres : </li>
                <li>Temps : </li>
                <li>Année de sortie cinéma : </li>
                <li>Note : </li>
            </ul>
            <h3>Synopsis</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at sem adipiscing, adipiscing tellus et, sodales tortor. Suspendisse malesuada risus ac diam consectetur, ac sagittis nisl placerat. Sed consequat at leo sit amet bibendum. Donec vel nisi sollicitudin, ornare odio ullamcorper, pulvinar quam.
            </p>
            <h3>Trailer</h3>
                <div class="videoWrapper">
                    <iframe width="605" height="395" src="http://www.youtube.com/embed/DKKpespYHkg" allowfullscreen=""></iframe>
                </div>
            <h3>Acteurs</h3>
                <div class="row-fluid">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="#" alt="Visuel acteur A">
                            <p class="text-center">Nom de l'acteur</p>
                        </div>
                    </div>                    
                </div>
         </div>
    </div>
</section>

{% endblock %}
